<div class="container">
    <div class="navbar">
        <div class="logo">
            <img src="/img/Group 5.png" alt="">
        </div>
        <div class="navbar-sec1">
            <div class="myProject flex">
                <img src="/img/9055184_bxs_coin_stack_icon 1.png" alt="" class="customImg">
                <ul>
                    
                    <li><a href="#">My Projects</a></li>
                </ul>
            </div>
            <div class="sampleProject flex" >
                <img src="/img/Group 4.png" alt="" class="customImg">
                <ul>
                    
                    <li><a href="#">Sample Projects</a></li>
                </ul>
            </div>
        </div>
        <div class="navbar-sec2">
            <div class="apps flex">
                <img src="/img/8674394_ic_fluent_apps_regular_icon 1.png" alt="" class="customImg">
                <ul>
                    
                    <li><a href="#">Apps</a></li>
                </ul>
            </div>
            <div class="introToNecleo flex">
                <img src="/img/6127246_multimedia_music_play_player_video_icon 1.png" alt="" class="customImg">
                <ul>
                    
                    <li><a href="#">Intro to Necleo</a></li>
                </ul>
            </div>
        </div>
        <div class="navbar-sec3">
            <div class="helpSupport flex">
                <img src="/img/211674_help_circled_icon 1.png" alt="" class="customImg">
                <ul>
                    
                    <li><a href="#">Help & Support</a></li>
                </ul>
            </div>
            <div class="feedback flex">
                <img src="/img/3669434_feedback_ic_icon (1) 1.png" alt="" class="customImg">
                <ul>
                    
                    <li><a href="#">Feedback</a></li>
                </ul>
            </div>
            <div class="collapse flex">
                <img src="/img/8686063_ic_fluent_panel_right_expand_icon 1.png" alt="" class="customImg">
                <ul>
                    
                    <li><a href="#" style="color:black">Collapse</a></li>
                </ul>
            </div>
        </div>
    </div>
    
</div>